header.cabecalho {
  align-items: center;
  background: var(--intro-bg);
  display: flex;
  justify-content: space-between;
}

nav.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 28rem;
}

nav.nav-bar 
h2.item {
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  transition: all .1s;
}

nav.nav-bar 
h2.item:hover {
  cursor: pointer;
  margin-bottom: .05rem;
  border-bottom: .1rem solid var(--white);
  font-weight: 700;
}

@media screen and (max-width: 425px) {
  img.logo {
    width: 10rem;
  }

  nav.nav-bar {
    width: 20rem;
  }
}